/* Navbar.css */
.navbar { 
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    padding: 20px 4%; 
    position: fixed; 
    width: 100%; 
    top: 0; 
    z-index: 1000; 
    background: rgba(0,0,0,0.95); 
    border-bottom: 2px solid rgba(255,0,0,0.3); 
    backdrop-filter: blur(15px); 
    box-sizing: border-box;
}

.logo { 
    font-weight: 900; 
    letter-spacing: 2px; 
    font-size: 38px; 
    cursor: pointer; 
    text-transform: uppercase; 
    color: white;
    text-decoration: none;
}

.logo span { 
    color: #ff0000; 
}

.nav-right { 
    display: flex; 
    gap: 40px; 
    align-items: center; 
}

.nav-links a { 
    color: #eee; 
    text-decoration: none; 
    font-size: 18px; 
    cursor: pointer; 
    text-transform: uppercase; 
    font-weight: 800; 
    margin-left: 25px; 
    transition: 0.3s; 
}

.nav-links a:hover { 
    color: #ff0000; 
}

.social-icons a { 
    color: white; 
    font-size: 24px; 
    margin-left: 15px; 
    transition: 0.3s; 
}

.social-icons a:hover { 
    color: #ff0000; 
}